@charset "EUC-KR";
body{
		color:green;			/* 글자색상 */
}

h1, h2, h3{
		background-color:yellow; /* 배경색상 */
}

.cl1{ /* 클래스가 cl1인 요소 선택 */
	background-color:orange; /* 배경색상 */
}

h2.cl1{/* 클래스가 h2태그 중 cl1인 요소 선택 */
	color:black;
}

#a{ /* id가 a인 요소 */
	width:200px;
	height:200px;
}

input[type=text]{ /* input 태그 중 type 속성값이 text인 요소 */
	background-color:black;
	color:white;
}

input[type=button]{
	width:100px;
	height:100px;
	font-size:20pt; /* 글자크기 */
	border:2px solid black;
}